#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
header {
  margin-top: 0%;
  /* width: 720px; */
  height: 111px;
  display: flex;
  font-size: large;
  font-weight: 400;
  justify-content:center;
  gap: 20px;
  align-items: center;
  padding: 24px 16px;
  background-color: #cac5c5; /* Optional: add a background */
  box-sizing: border-box;    /* Ensures padding doesn't exceed the width */
}
